SPREADSHEET_URL="https://docs.google.com/spreadsheets/d/1mimgzf4E_Ddop....."
SPREADSHEET_SHEET_NAME="Sheet1"
AGENT_BRIEF="Kuisioner jumlah pendataan hasil belajar semester III Universitas Jakarta"
QUESTIONNAIRE_FORMAT="Ambil data nama, kelas, jumlah sks yang diikuti, rata-rata nilai, jumlah kehadiran (dalam hari)"
